p {
    font-size: 1rem;
}

ul {
    grid-column: 1 / -1;
}
li {
    display: inline-block;
}

li a {
    padding: 2px 8px;
    border-radius: 2px;
    margin: 4px;
}


li a.router-link-exact-active,
li a:hover {
    background: #87f;
    color: #fff;
}