
.form {
    max-width: 600px;
    margin: 4rem auto 60px auto;
    position: relative;
    
    #search {
        width: 100%;
        padding: 22px;
        margin-right: .4rem;
        border: none;
        
        &:hover {
            box-shadow: 0 6px 12px rgba(30, 60, 90, 0.2);
        }
    }

    #lupa {
        border: none;
        cursor: pointer;
        width: 62px;
        height: 62px;
        background: url("@/assets/img/search.svg") no-repeat center center;
        text-indent: -150px;
        position: absolute;
        box-shadow: none;
        top: 0px;
        right: 0px;
    }
}

.category {
    padding: 4rem;
    width: 100%;
    .category-list {
        justify-content: center;
        display: flex;

        li {
            transition: .3s;
            margin: 0 16px;

            &:hover {
                transform: translatey(2px);
                cursor: pointer;
            }
        }
    }

    img {
        margin: 0 auto;
        width: 30px;
    }
}